@import "../../SassMixin/radiusMixin";
@import "../../SassMixin/cleatFixMixin";
#ModulePanel {
  @include clearFix;
  //margin: 10px 0 0 10px;
  height: 38px;
  margin-bottom: 30px;
  .module_panel_box {
    float: left;
    margin-right: 10px;
  }
  .input_box {
    input {
      @include radius(2px);
      width: 150px;
      height: 38px;
      box-sizing: border-box;
      border: 1px solid;
      padding-left: 10px;
      &:focus {
        border-color: #009789;
      }
    }
  }
  .refresh_box {
    .module_button {
      margin-right: 10px;
      float: left;
      height: 38px;
      background: #009789;
      color: #FFFFFF;
      @include radius(2px);
      border: 0;
      cursor: pointer;
      padding: 0 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}