@import "../../SassMixin/containerMixin";
@import "../../sassConfig/fontConfig";
@import "../../SassMixin/radiusMixin";
#ReservationHead {
  @include container;
  position: relative;
  .reservation_head_container {
    position: relative;
    padding: 70px 0 30px 0;
    .title {
      text-align: center;
      position: relative;
      @include indexTitle_emm;
      .head_portrait {
        position: absolute;
        width: 36px;
        height: 36px;
        background: #CFD1D4;
        right: 0;
        top: 0;
        cursor: pointer;
        @include radius(100%);
      }
    }
  }
  #head_tips {
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 77px;
    height: 33px;
    background: #666666;
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    right: -23px;
    bottom: -45px;
  }
}