@import "../../SassMixin/radiusMixin";
@import "../../SassMixin/cleatFixMixin";
#EditUserInfo {
  width: 500px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #FFFFFF;
  @include radius(10px);
  z-index: 9999;
  .handle_status_head {
    height: 30px;
    padding: 10px;
    padding-left: 20px;
    background: #FAFAFA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @include clearFix;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
  .handle_status_body {
    margin: 30px 0 0 40px;
    .input_box {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      input {
        width: 200px;
      }
    }
    .submit_box {
      margin-left: 40px;
      width: 80px;
    }
  }
}