@import "../../../SassMixin/containerMixin";
@import "../../sassConfig/fontConfig";
@import "../../../SassMixin/cleatFixMixin";
@import "../../../SassMixin/radiusMixin";

#PlaceSelected {
  @include container;
  position: relative;
  .title {
    text-align: center;
    padding: 37px 0 40px 0;
    @include clearFix;
    .title_left {
      position: absolute;
      left: 0;
      @include applyFormLabel;
    }
    .title_right {
      float: right;
      a {
        @include return;
      }
    }
  }
  .body {
    display: flex;
    justify-content: center;
    .place_box {
      margin-right: 101px;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      .body_title {
        margin-top: 68px;
        text-align: center;
        @include table;
        margin-bottom: 31px;
        color: #999999;
      }
      .img_box {
        cursor: pointer;
        border: 2px solid transparent;
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F1F4F9;
        @include radius(4px);
        img {
          width: 208px;
          height: 191px;
        }
      }
    }
    .selected {
      .body_title {
        color: #333333;
      }
      .img_box {
        border-color: #2878FF;
      }
    }
    .message {
      left: 0;
      right: 0;
      bottom: -45px;
      margin: 0 auto;
      position: absolute;
      text-align: center;
      color: #FFB900;
      &:before {
        content: ' ';
        width: 20px;
        height: 20px;
        position: absolute;
        background: #FFB900;
        @include radius(100%);
        top: 1px;
        left: 40px;
      }
      .special {
        position: absolute;
        top: 4px;
        left: 48.5px;
        border: 0;
        width: 3px;
        height: 10px;
        background: #FFFFFF;
        &:after {
          content: ' ';
          width: 3px;
          height: 3px;
          @include radius(100%);
          background: #FFFFFF;
          top: 12px;
          left: 0;
          position: absolute;
        }
      }
    }
  }
  .submit_box {
    padding-top: 132px;
    display: flex;
    justify-content: center;
  }

}