@import "../../../SassMixin/containerMixin";
@import "../../sassConfig/fontConfig";
@import "../../../SassMixin/cleatFixMixin";
@import "../../../SassMixin/radiusMixin";

#ReservationForm {
  @include container;
  position: relative;
  .title {
    text-align: left;
    padding: 37px 0 40px 0;
    @include clearFix;
    .title_left {
      float: left;
      @include applyFormLabel;
    }
    .time_range {
      float: left;
      @include applyFormLabel;
    }
    .title_right {
      float: right;
      a {
        @include return;
      }
    }
  }
  .body {
    margin-top: 33px;
    display: flex;
    justify-content: center;
    .input_box {
      .input_sel {
        @include clearFix;
        margin-bottom: 31px;
        position: relative;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .label_box {
        position: absolute;
        left: -140px;
        top: 18px;
        @include applyFormLabel;
      }
      .special {
        left: -163px;
      }
      .input_part {
        float: left;
      }
      input, textarea {
        @include radius(4px);
      }

      input {
        padding-left: 24px;
      }

      .textarea {
        width: 418px;
      }
    }
  }
  .submit_box {
    padding-top: 53px;
    display: flex;
    justify-content: center;
  }
}