@import "../../SassMixin/cleatFixMixin";
@import "../../sassConfig/fontConfig";
#Header {
  background: #F1F4F9;
  .header_container {
    padding: 71px 50px 28px;
    @include clearFix;
    .header_left {
      float: left;
      @include indexTitle_emm;
    }
    .header_right {
      float: right;
      @include stuName;
    }
  }
}