@import "../../SassMixin/containerMixin";
@import "../../sassConfig/fontConfig";
@import "../../SassMixin/cleatFixMixin";

#PlaceSelected {
  @include container;
  position: relative;
  .title {
    text-align: center;
    padding: 37px 0 40px 0;
    @include clearFix;
    .title_left {
      position: absolute;
      left: 0;
      @include applyFormLabel;
    }
    .title_right {
      float: right;
      a {
        @include return;
      }
    }
  }
}